html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title Order form
        include ./partials/bootstrap-style
        link(rel="stylesheet", href="/css/orderform.css")
        script(src="/js/orderform.js" defer)
    body(onload="init()")
        include ./partials/header
        
        .container.d-flex.justify-content-center
            select#restaurant-select
                //- each restaurant, key in restaurants
                //-     option(value=key) #{restaurant.name}
        br
        .container.d-flex.justify-content-center
            #info
        #main
        #left.column.left
        #middle.column.middle
        #right.column.right

        include ./partials/bootstrap-js