html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title Orders
        include ./partials/bootstrap-style
        link(rel="stylesheet", href="/css/orders.css")
    body
        include ./partials/header
        
        .container.d-flex.justify-content-center
            h2 Orders:

        .container.d-flex.justify-content-center
            ul
                each order in orders
                    li
                        a(href=`/orders/${order._id}`) #{order._id}